html
  head
    meta(name="description", content="Bla bla bla")
    meta(charset="utf-8")
    title Le titre du document
  body
    header 
      h1 Bienvenue dans notre élevage du carlins 
      img(src="header.jpg", alt="Photo de l’élevage")
      nav
        a(href="./index.html") Accueil
        a(href="./about.html") Qui sommes-nous ?
        a(href="./contact.html") Contact
    main 
      section 
        h2 Comment nourrir son Carlin
        article 
          h3 Les croquettes
          figure 
            img(src="", alt="")
            figcaption Une boîte de croquettes 
        article 
          h3 La pâtée
        aside 
          p Pensez à hydrater votre carlin, donnez-lui à boire aussi souvent que possible
      section 
        h2 Les loisirs du Carlin
      section 
        h2 Comment soigner son Carlin
    footer
      p © École Webstart
